header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
    background-color: white;
    display: flex;
    padding: 0 20px;


    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:    "logo toggle";

        @include lg  {
            grid-template-columns: 4fr 4fr;
            grid-template-areas:    "logo menulinks";
        }

        @include xl {
            grid-template-columns: 4fr 4fr 1fr;
            grid-template-areas:    "logo menulinks menuicons";
        }
    }

    .logo {
        grid-area: logo; 
        display: flex;
        align-items: center;

        img {
            margin-right: 5px;
        }
    }

    .menu-links {
        grid-area: menulinks;
        background-color: $color-theme-dark;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        width: 0vw;
        padding-top: 80px;
        transform: translateX(0%);
        transition: all 0.25s;
        font-size: 20px;
        overflow: hidden;


        @include lg {
            position: static;
            width: 100%;
            font-size: 16px;
            padding: 0;
            background-color: transparent;
            color: $color-theme-dark;
            display: flex;
            justify-content: flex-end;   
            align-items: center;  
        }

        @include xl {
            margin-right: 20px;
        }

        .link {
            font-family: $font-poppins;
            color: white;
            display: flex; 
            justify-content: center;
            padding: 20px 0;
            text-decoration: none;
            font-weight: $font-weight-regular;

            &:hover {
                background-color: $color-theme-dark
            }

            @include lg {
                color: $color-theme-dark;
                border: none;
                padding: 0;
                margin: 0 0 0 30px;
                justify-content: right;
                font-size: 16px;
                
                &:hover {
                    background-color: transparent;
                    color: $color-theme;
                }
            }
        }
    }

    .menu-icons {
        grid-area: menuicons;
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px;
        background-color: $color-theme-dark;
        color: white;

        @include xl {
            position: static;
            padding: 0;
            background-color: white;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .link {
            font-family: $font-poppins;
            color: white;
            text-decoration: none;
            margin: 20px;
            font-size: 18px;

            &:hover {
                color: $color-theme;
            }

            @include xl {
                position: static;
                color: $color-gray-30;
                margin: 0 0 0 25px;
                font-size: 18px;

                &:hover {
                    color: $color-theme;
                }
            }
        }
    }

    .toggle {
        grid-area: toggle;
        position: relative;
        display: block;
        text-align: right;
        z-index: 1;

        @include lg {
            display: none;
        }
    }
}

.open-menu {
    width: 100vw !important;
    opacity: 0.99;
    transform: translateX(-100%);
}