@{
    Layout = "/Views/Shared/_BackofficeLayout.cshtml";
    ViewData["Title"] = "Admin Dashboard";
}


<div class="container">
    <div class="col-6">
        <h4>Welcome to the Admins Dashboard!</h4>
    </div>
</div>