<section class="login-form">
    <div class="container form-container">
        <div class="title">Please Login To Your Account</div>

        <form novalidate>
            <div class="email form-group">
                <label for="email">Your Email*</label>
                <a class="form-link" href="register.html">Don't Have An Account Yet?</a>
                <input id="email" type="text" class="invalid">
                <span class="error">Your email is required</span>
            </div>
            <div class="password form-group">
                <label for="password">password*</label>
                <a class="form-link" href="#">Forgot Your Password?</a>
                <input id="password" type="text" class="invalid">
                <span class="error">Your password is required</span>
            </div>
            <div class="terms form-checkbox-group">
                <label class="custom-checkbox">
                    Please keep me logged in.
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="form-btn">
                <button class="theme-button form-submit-btn">Log In</button>
            </div>
        </form>
    </div>
</section>