<div class="newsletterSignup">
    <div class="signup container">
        <h6 class="newsletter-title">Signup For Newsletter</h6>
        <div class="signup-form">
            <input id="signup-input" type="text" placeholder="Enter Your Mail Here">
            <button class="signup-btn theme-button" type="submit">
                SUBSCRIBE<span class="hidden-text">
                    FOR
                    NEWSLETTER
                </span>
            </button>
        </div>
    </div>
</div>