<div class="container related">
    <h4 class="relatedTitle">Related Products</h4>

    <div class="cardcontainer">
        <div class="card collection-card">
            <img class="card-image-small" alt="" src="/images/270x295.svg">

            <div class="card-information">
                <h6 class="card-title">Apple Watch Series</h6>
                <p class="card-price">$30.00</p>
                <a class="to-cart"><i class="fa-light fa-cart-arrow-down"></i></a>
            </div>
        </div>
        <div class="card collection-card">
            <img class="card-image-small" alt="" src="/images/270x295.svg">

            <div class="card-information">
                <h6 class="card-title">Apple Watch Series</h6>
                <p class="card-price">$30.00</p>
                <a class="to-cart"><i class="fa-light fa-cart-arrow-down"></i></a>
            </div>
        </div>
        <div class="card collection-card">
            <img class="card-image-small" alt="" src="/images/270x295.svg">

            <div class="card-information">
                <h6 class="card-title">Apple Watch Series</h6>
                <p class="card-price">$30.00</p>
                <a class="to-cart"><i class="fa-light fa-cart-arrow-down"></i></a>
            </div>
        </div>
        <div class="card collection-card">
            <img class="card-image-small" alt="" src="/images/270x295.svg">

            <div class="card-information">
                <h6 class="card-title">Apple Watch Series</h6>
                <p class="card-price">$30.00</p>
                <a class="to-cart"><i class="fa-light fa-cart-arrow-down"></i></a>
            </div>
        </div>
    </div>
</div>
