@model List<ProductModel>


@{
    var products = await productService.GetByPopularCollectionTagAsync();
}


@if (products.Any()) 
{
<div class="topselling">
    <h4 class="sectiontitle">Popular products</h4>

    <div class="topselling-card-section">
       @foreach(var product in products.Skip(7).Take(6))
       {
           
        <div class="card topselling-card">
            <a asp-controller="Products" asp-action="Details" asp-route-productName="@product.ProductName">
            <img class="card-image-small" alt="" src="@product.ImageUrl">

            <div class="card-information">
                <h6 class="card-title">@product.ProductName</h6>
                        <p class="card-price">$@string.Format("{0:F0}", product.Price)</p>
                <span class="to-cart"><i class="fa-light fa-cart-arrow-down"></i></span>
            </div>
             </a>
        </div>
           
        }
    </div>
</div>

}      